<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.2.4/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
var quill = new Quill('#editor', {
  modules: {
    toolbar: [
      ['bold', 'italic'],
      ['link', 'blockquote', 'code-block', 'image'],
      [{ list: 'ordered' }, { list: 'bullet' }]
    ]
  },
  placeholder: 'Compose an epic...',
  theme: 'snow'
});

var form = document.querySelector('form');
form.onsubmit = function() {
  // Populate hidden form on submit
  var about = document.querySelector('input[name=about]');
  about.value = JSON.stringify(quill.getContents());
  
  console.log("Submitted", $(form).serialize(), $(form).serializeArray());
  
  // No back end to actually submit to!
  alert('Open the console to see the submit data!')
  return false;
};


</script>




<form method="POST" enctype="multipart/form-data">
	<p>
	<input type="text" name="title" placeholder="Title" class="full-width" 
	value="<%= @post.title if defined?(@post.title) %>" pattern="[a-zA-Z0-9 ]+" required />
	</p>
	<p>
	<input id="editor" type="text" name="slug" placeholder="Slug" class="full-width" 
	value="<%= @post.slug if defined?(@post.slug) %>" pattern="[a-zA-Z0-9-]+" required />
	</p>
	<p>
	
	<div id="toolbar" style="display: none;">
    <a textarea-command="bold" title="CTRL+B" class="button"><i class="fa fa-bold" aria-hidden="true"></i></a>
    <a textarea-command="italic" title="CTRL+I" class="button"><i class="fa fa-italic" aria-hidden="true"></i></a>
    <a textarea-command="createLink" class="button"><i class="fa fa-link" aria-hidden="true"></i></a>
    <a textarea-command="insertImage" class="button"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
    <a textarea-command="uploadImage" class="button"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
    <a textarea-command="formatBlock" textarea-command-value="h1" class="button">h1</a>
    <a textarea-command="formatBlock" textarea-command-value="h2" class="button">h2</a>
    <a textarea-command="formatBlock" textarea-command-value="h3" class="button">h3</a>
    <a textarea-command="insertUnorderedList" class="button"><i class="fa fa-list" aria-hidden="true"></i></a>
    <a textarea-command="insertOrderedList" class="button"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
    
    <a textarea-action="change_view" class="button" onclick='javascript:style.backgroundColor = style.backgroundColor? "":"#e0e0e0";' ><i class="fa fa-file-code-o" aria-hidden="true"></i></a>
    
    <div textarea-dialog="createLink" style="display: none;">
      <div class="row">
        <div class="eight columns">
          <input textarea-dialog-field="href" type="text" value="http://" class="full-width">
        </div>
        <div class="four columns">
          <a textarea-dialog-action="save" class="button">Insert</a>
          <a textarea-dialog-action="cancel" class="button">Cancel</a></div>
      </div>
    </div>

    <div textarea-dialog="uploadImage" style="display: none;">

      <div class="row">
      <div class="eight columns">
      <iframe src="./upload" class="full-width" frameborder="0"></iframe>
      </div>
      <div class="four columns">
      <a textarea-dialog-action="save" class="button">Insert</a>
      <a textarea-dialog-action="cancel" class="button">Cancel</a></div>
      </div>
      
    </div>
    
    <div textarea-dialog="insertImage" style="display: none;">
      <div class="seven columns">
        <input textarea-dialog-field="src" type="text" value="http://" class="full-width">
      </div>
      <div class="five columns">
        <select textarea-dialog-field="className" >
          <option value="">default</option>
          <option value="pull-left">left</option>
          <option value="pull-right">right</option>
        </select>
        <a textarea-dialog-action="save" class="button">Insert</a>
        <a textarea-dialog-action="cancel" class="button">Cancel</a>
      </div>
    </div>
  </div>

	<textarea id="textarea" name="body" class="full-width" rows="20" required>
	<%= @post.body if defined?(@post.body) %></textarea>
  <script src="./assets/js/textarea_editor.js"></script>
  </p>

	<p>
	<input type="submit" value="Save" />
	</p>
</form>