<div class="container">
	
	<% for Post in @posts %>
		<h2><a href="./post/<%= Post.slug %>" class="btn btn-secondary btn-sm"><%= Post.title %></a></h2>
		<p><%= Post.body.gsub(/<\/?[^>]*>/, "") %></p>
	
		<hr>
	<% end %>  

<%= will_paginate @posts %>
</div>