<h2>Blog</h2>
<hr>

<time datetime="2017-12-08">8 December 2017</time>
<h1><%= @post.title %></h1>
<br>
<div class="share">
<i class="fa fa-facebook-official" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
<i class="fa fa-github" aria-hidden="true"></i>
</div>
<hr>
<p><%= @post.body %></p>