<div class="container">
	<time datetime="2017-12-08">8 December 2017</time>
	<h1><%= @post.title %></h1>

	<div class="share">
		<i class="fa fa-facebook-official" aria-hidden="true"></i>
		<i class="fa fa-twitter" aria-hidden="true"></i>
		<i class="fa fa-github" aria-hidden="true"></i>
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<i class="fa fa-link" aria-hidden="true"></i>
	</div>

	<hr>
	<p><%= @post.body %></p>

	<% if authorized %>
		<a href="./post/edit/<%= @post.id %>">Edit</a> 
		<a href="./post/delete/<%= @post.id %>" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
	<% end %>
</div>