<!-- //// Section: Welcome //// -->
<section id="welcome">
	<div class="container">
		<h2>I'm <strong>Joe</strong>, a <strong>freelance</strong> developer</h2>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    <a href="#" class="button primary">Find Out more</a>
	</div>
</section>


<!-- //// Section: Services //// -->
<section id="services">
	<div class="container">
			<h2>Platforms I <strong>develop</strong> for...</h2>
			All platforms developed for are coded in Xcode using Apple's <a href="https://en.wikipedia.org/wiki/Swift_(programming_language)" target="_blank">Swift programming language</a> creating excellent user experience and a native application.<br><br>
		<div class="row">
			<div class="three columns">
				<center>
					<img src="./assets/img/graphic-mac.png" class="full-width">
					<h5>MacOS</h5>
					Mac, Macbook, Pro.
				</center>
			</div>
			<div class="three columns">
				<center>
					<img src="./assets/img/graphic-ios-devices.png" class="full-width">
					<h5>iOS</h5>
					iPhone and iPad.
				</center>
			</div>
			<div class="three columns">
				<center>
					<img src="./assets/img/graphic-apple-watch.png" class="full-width">
					<h5>WatchOS</h5>
					Apple Watch Series 1-2.
				</center>
			</div>
			<div class="three columns">
				<center>
					<img src="./assets/img/graphic-apple-tv.png" class="full-width">
					<h5>tvOS</h5>
					Apple TV 4th Generation
				</center>
			</div>
		</div>
	</div>
</section>


<!-- //// Section: Contact //// -->
<div class="parallax" style="background-image: url('./assets/img/map.png');">
	<section id="contact">
		<div class="container">
			<div class="row">
			    <div class="five columns">
				    <h2>Contact</h2>
				    <strong>Address:</strong><br>The Water Mill, Felindre, Swansea SA57NA <br>
				    <strong>Telephone:</strong><br>+44 (0)7734365820 <br>
				</div>
			    <div class="seven columns">
				    <input type="text" name="name" class="full-width" placeholder="Name">
				    <input type="text" name="name" class="full-width" placeholder="Email">
				    <input type="text" name="name" class="full-width" placeholder="Telephone">
				    <textarea name="name" class="full-width" placeholder="Message"></textarea>
				    <input type="submit" name="submit" value="Send Message">
			    </div>
			</div>
		</div>
	</section>	
</div>