<!-- <img src="./assets/img/banner1.jpg"> -->
<div class="nav-spacer "></div>


<div class="parallax" style="background-image: url('./assets/img/banner1.jpg');">
	<div class="container">
		<div class="row">
		    <div class="five columns">
		    	<img src="./assets/img/placeholder.png" class="full-width">
		    </div>
		    <div class="seven columns">
			    <h2>About Joe</h2>
			    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		    </div>
		</div>
	</div>
</div>

<div class="container">
<center><h2>Services</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></center>
	<div class="row">

		<div class="three columns"><center><img src="./assets/img/macbook-pro.jpg" class="full-width"><br>MacOS<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</center></div>
		<div class="three columns"><center><img src="./assets/img/ipad-iphone.png" class="full-width"><br>IOS Developement<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</center></div>
		<div class="three columns"><center><img src="./assets/img/apple-watch.png" class="full-width"><br>WatchOS<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</center></div>
		<div class="three columns"><center><img src="./assets/img/apple-tv.png" class="full-width"><br>TvOS<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</center></div>
		</div>
</div>

<div class="parallax" style="background-image: url('./assets/img/map.png');">
	<div class="container">
		<div class="row">
		    <div class="five columns">
		    <h2>Contact</h2>
		    <strong>Address:</strong>The Water Mill, Felindre, Swansea SA57NA

		    </div>
		    <div class="seven columns">
			    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		    </div>
		</div>
	</div>
</div>