<div class="container">
	<h1>Upload file</h1>
	<link rel="stylesheet" href="./assets/css/style.css">
	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="file" class="full-width" />
		<input type="submit" value="Upload" />
	</form>
</div>